input {
    padding: 10px;
    margin: auto;
    display: block;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: dodgerblue;
}


button{
    padding: 5px;
    margin: auto;
    display: block;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}